@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color: #232323;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  width: 100%;
}

h1,
h2 {
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-size: 2em;
}

button {
  margin-right: 20px;
  cursor: pointer;
  background-color: #232323;
  border: 2px solid white;
  padding: 12px;
  color: white;
  font-size: 1.2em;
}

button:hover {
  box-shadow: #f45b69 4px 3px;
}

#controls {
  border: 2px solid white;
  padding: 18px 0;
  box-shadow: white 3px 3px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

span {
  color: #232323;
  margin-right: 20px;
}

.won {
  color: white;
}

#game-board {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  margin: 20px;
  min-height: 380px;
}

.color-square {
  cursor: pointer;
  height: 180px;
  width: 180px;
  border-radius: 15px;
}

#footer {
  border-top: 2px solid white;
  padding: 40px;
  margin-top: 40px;
}
